* {
  box-sizing: border-box;
}


body {
  background-color: #E14647;
  margin:0;
}

h1 {
  background-color: rgb(157, 142, 142);
  padding:18px;
  color: #ffffff;
 }


 .App {
  margin:50px auto ;
  background-color: #eee;
  padding:30px;
  text-align: center;
  width:80%;
  box-shadow: 1px 2px 5px #eee;
 
}



input {
  padding:6px 10px;
  background-color: #e8e8e8;
  width: 80%;
  border:0;

}

form button{
  width:20%;
  border:0;
  background-color: #4dc55b;
  color: #fff;
  padding: 6px 0;
  margin:0;
  outline: 0;
  cursor: pointer;
  font-weight: bold;
}


ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 15px 0;
}


li span {
  display: inline-block;
  width:60%;
  color: #6a6a6a;
}

li > button:first-of-type {
  width:9%;
  background-color: #6a6a6a;
  color:#fff;
  margin-right: 1%;
  cursor: pointer;
  
}

li  > button:last-of-type{
   background-color: #E14647;
   color:#fff
}

ul > form {
  margin : 15px 0;
}


/* 




form 

form 

ul li {
  list-style: none;
  padding:5px;
  margin:0 auto;
  background-color: blue;
  width:500px;
 
}

span{
  padding:7px;
  font-weight: bold;
  font-size: 20px;
  margin:10px 
}

ul li button:first-of-type{
   padding:5px;
   margin:2px;
   font-weight: bold;
  font-size:15px;
}

ul li button:nth-of-type(2){
  padding:5px;
  margin:2px;
  font-weight: bold;
  font-size:15px;
} */